<div id="{{include.id}}" class= "page one">
    <h2 class="heading">Education</h2>
  <div class="resume-wrap d-flex ftco-animate">
      
      <div class="text pl-3">
          <span class="date">2017-present</span>
          <h2>Bachelor of Technology</h2>
          <span class="position">Indian Institue of Bhubaneswar</span>
          <p>Mechanical Engineering</p>
          <p>CGPA - 8.04</p>
      </div>
  </div>
  <div class="resume-wrap d-flex ftco-animate">
      
      <div class="text pl-3">
          <span class="date">2015-2017</span>
          <h2>Senior Secondary School</h2>
          <span class="position">Kendriya Vidyalaya, Kankarbagh</span>
          <p>Science Stream</p>
          <p>Percentage - 94.0%</p>
      </div>
  </div>
  <div class="resume-wrap d-flex ftco-animate">
      
      <div class="text pl-3">
          <span class="date">2010-2015</span>
          <h2>Secondary School</h2>
          <span class="position">Kendriya Vidyalaya, Kankarbagh</span>
          <p>CGPA - 10.0</p>
      </div>
  </div>
  
</div>