<div id="{{include.id}}" class= "page two">
    <h2 class="heading">Experience</h2>
  <div class="resume-wrap d-flex ftco-animate">
      
      <div class="text pl-3">
          <span class="date">May 2020 - June 2020</span>
          <h2>Dwaipayana Technologies | Web Developer Intern</h2>
          <span class="position">Remote</span><br>
          <span><a href="https://dwaipayna.web.app/">Sample work</a></span>
            <ul>
                <LI>
                    Developed Web admin panel for management of orders and stocks
                </LI>
                <li>Formulated the backend structure in PHP and using the Laravel
                    framework
                </li>
                <li>
                    Collaborated within a team of 3 members to develop an android
app for user interaction
                </li>
                <li>
                    Aided the offline business to shift on the online platform leading to
a boost in sales
                </li>
            </ul>  
        </div>
  </div>
  <div class="resume-wrap d-flex ftco-animate">
      
      <div class="text pl-3">
          <span class="date">June 2020</span>
          <h2>Oniria Pets | Web Developer Intern</h2>
          <span class="position">Remote </span><br>
          <span><a href="https://hepier.com">Hepier.com</a></span>
          <ul>
              <li>Carried out the development of a website and Displayed
                information about 5+ pet services available in the region</li>
                <li>
                Coordinated with team of 3 members and Engineered a data
                storage format in MongoDB
                </li>
                <li>
                    Accomplished fast and responsive performance using NuxtJs as PWA website
                </li>
                <li>
                    Implemented multilingual support for 2+ language extending wider
audience support using i18n module
                </li>
          </ul>
      </div>
  </div>
  <div class="resume-wrap d-flex ftco-animate">
      
      <div class="text pl-3">
          <span class="date">July 2020</span>
          <h2>Web Developer</h2>
          <span class="position">Wissenaire</span><br>
          <span><a href="https://github.com/bhaskarkishor/ca.wissenaire.org">Check Repo</a></span>
            <ul>
                <li>
                    Developed website to advertise the Campus Ambassador program
of Wissenaire and register participants for it
                </li>
                <li>
                    Implemented 10+ features using PHP and Laravel
                </li>
                <li>
                    Registered about 110% increase in member registration in the
                    programme compared to the previous year
                </li>
            </ul>  
        </div>
  </div>
  
  
  