<div id="{{include.id}}" class= "page four">
    <h2 class="heading">Position of Responsibility</h2>
    <div class="resume-wrap d-flex ftco-animate">
        
        <div class="text pl-3">
            <span class="date">April 2019-March 2020</span>
            <h2>Web and Design Society, Students' Gymkhana, IIT Bhubaneswar</h2>
            <span class="position">Secretary</span>
            <p>Managed a group of 30+ highly motivated and enthusuastic students in web development and Digital Design area.</p>
        </div>
    </div>
    <div class="resume-wrap d-flex ftco-animate">
       
        <div class="text pl-3">
            <span class="date">Feb 2019 - Jan 2020</span>
            <h2>Wissenaire, Annual tech fest IIT Bhubaneswar</h2>
            <span class="position">Core Head</span>
            <p>Designed and deployed websites for the fest publicity and info.</p>
        </div>
    </div>
    
    
  </div>