<section class="section-contact" id="sectionContact">
    <div class="contact__wrapper" id="contact">
        <div class="container">
            <div class="contact__title">
                <h3 class="view-chapter">
                    Contact
                </h3>
            </div>
            <div class="contact__content">
                <h4 class="content__title">
                   Reach out to me
                </h4>
            </div>
            <div class="contact__partners">
                
                <div class="contact__partner  contact__partner--harro">
                    <div class="view-partner view-partner--open viewPartner" title="Partner: Harro Heijboer">
                        <div class="partner__content">
                            <div class="partner__contact">
                                <h6 class="partner__name">{{site.data.description.author}}</h6>
                                <p class="partner__title">{{site.data.description.subtitle}}</p>
                                <a href="mailto:{{site.data.contact.mail}}" class="partner__email">mail@</a>
                            </div>
                            <!-- <figure class="partner__photo"><img src="images/jpeg-tabs-spaces-harro-heijboer.jpg" alt="Harro Heijboer"></figure> -->
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="contact__footer">
                <div class="container">
                    <div class="contact__general">
                        <h4 class="general__title">General Contact</h4>
                        <a href="tel:{{site.data.contact.mobile}}" class="atom-link">{{site.data.contact.mobile}}</a><br>
                        <a href="mailto:{{site.data.contact.mail}}" class="atom-link">mail@</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>