<meta name="description" content="{{site.description.about}}">
        <meta name="robots" content="index, follow">
        <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
        <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
        
    
        <meta property="og:site_name" content="Tabs &amp; Spaces">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{site.title}}">
        <meta property="og:description" content="{{site.description.site}}">
        <meta property="og:image" content="/app/themes/tabsspaces/dist/ico/favicon_fb.png">
        <meta property="og:image:secure_url" content="/app/themes/tabsspaces/dist/ico/favicon_fb.png">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@tabsspaces">
        <meta name="twitter:creator" content="@tabsspaces">
        <meta name="twitter:title" content="{{site.description.site}}">
        <meta name="twitter:description" content="{{site.description.site}}">
        <meta name="twitter:image:src" content="/app/themes/tabsspaces/dist/ico/favicon_fb.png">
        <link rel="shortlink" href="bhaskarkishor.github.io">