<meta name="description" content="{{site.description.about}}">
        <meta name="robots" content="index, follow">
        <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
        <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
        
    
        <meta property="og:site_name" content="{{site.name}}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{site.title}}">
        <meta property="og:description" content="{{site.description}}">
        <meta property="og:image" content="icon.png">
        <meta property="og:image:secure_url" content="icon.png">
        <meta name="twitter:card" content="summary_large_image">
       
        <link rel="shortlink" href="bhaskarkishor.github.io">